<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="mat-card-title">Login</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width mat-card-title">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email" type="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="full-width mat-card-title">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter your password"
          formControlName="password"
          [type]="hidePassword ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Toggle password visibility'"
          [attr.aria-pressed]="!hidePassword"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <button
        matButton="outlined"
        color="primary"
        class="login-btn full-width"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>

    <div class="signup-section">
      <span>Don't have an account?</span>
      <a routerLink="/register" class="signup-link">Sign Up</a>
    </div>
  </mat-card>
</div>
